    <tr>
      <th scope="row"><%= topic.id %></th>
      <td><%= topic.name %></td>
      <td><%= link_to topic.name, topic %></td>
    </tr>
<!-- This partial is rendered by _topic_list.html.erb -->	