<table class="table">
	<thead>
	  <th scope="col">#</th>
      <th scope="col">Topic Name</th>
      <th scope="col">Find Mentor</th>
	</thead>
	 <tbody>
    <%= render @topics %>
    </tbody>
</table>
