
<% provide(:title, 'Mentor') %>

<h1>Mentors expert in "<%= @t.name %>"  </h1>

<table class="table">
	<thead>
      <th scope="col"> Mentor</th>
      <th scope="col">Profile</th>
	</thead>
	 <tbody>
    <%= render @all_user %>
    </tbody>
</table>