<% provide(:title, 'Mentors') %>
<h1>MENTORS</h1>

<%= will_paginate @mentors %>
<table class="table">
	<thead>
      <th scope="col"> Mentor</th>
      <th scope="col">Profile</th>
	</thead>
	 <tbody>
    <%= render @mentors %>
    </tbody>
</table>

<%= will_paginate @mentors %>
